body {
	margin: auto;
	padding: 0px;
	width: 98%;
	color: #444;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

@font-face {
	font-family: 'gonville';
	src: url('src/boethius/styles/fonts/gonvillepart1.ttf') format('truetype');
}

@font-face {
	font-family: 'gonvillealpha';
	src: url('src/boethius/styles/fonts/gonvillealpha11.ttf') format('truetype');
}
